<div class="new-note">
    <div class="new-note-container">
        <ul class='errors alert alert-danger' ng-if="notesEditController.errors">
            <li ng-repeat="error in notesEditController.errors">{{error.code}} {{error.message}}</li>
        </ul>

        <form class="form">
            <fieldset class="form-field">
                <label class="form-label" for="header">Title</label>
                <input class="form-input" id="header" name="header" ng-model="notesEditController.note.title" />
            </fieldset>

            <fieldset class="form-field">
                <label class="form-label" for="icon"><i class="icon {{notesEditController.note.icon}}"></i>Icon</label>
                <input class="form-input" id="icon" name="icon" ng-model="notesEditController.note.icon" />
            </fieldset>

            <fieldset class="form-field">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-input" id="description" name="description" ng-model="notesEditController.note.description" placeholder="A short description of this note"></textarea>
            </fieldset>

            <button class="btn" ng-click="saveNote(notesEditController.note)" ng-disabled="notesEditController.updating">{{notesEditController.updating ? 'Saving...' : 'Save'}}</button>
            <button class="btn" ng-if="notesEditController.note.id" ng-click="deleteNote(notesEditController.note)">Delete</button>
        </form>

        <pre>{{notesEditController.note | json}}</pre>
    </div>
</div>