<div class="note-wrapper">

    <div class="note-content">

        <nw-category-select active-category="activeCategory"></nw-category-select>

        <div class="notes-header">
            <h1 title="Notes">Notes</h1>

            <a class="btn-b" href='/#/notes/new'>
                <i class="icon add"></i>New Note
            </a>
        </div>

        <div class="note-wrapper">
            <a class="card-notes"
               ng-repeat="note in notes | filter:search | filter:{category:{name: activeCategory.name}}"
               ng-href="/#/notes/{{note.id}}">

                <nw-card
                        title="note.title"
                        icon="note.icon"
                        description="note.description"
                        id="note.id"
                        type="note"
                ></nw-card>
            </a>
        </div>

    </div>
</div>